<div class='columns is-centered is-multiline mPh-ml1rem mPh-mr1rem'>
  <!--Loop over each object in the messages array -->
  {{#each messages as |message|}}
    <div class='border-slate4 column is-10 my-4 p-0'>
      <!-- title, user, and date -->
      <div class='bgc-slate level p-2'>
        <!-- message title on the left -->
        <p class='is-5 level-left'>
          <a class='c-offWhite is-size-5 has-text-weight-semibold level-item' href='/message/{{message.id}}'>{{message.title}}</a>
        </p>
        <!-- username and date on the right -->
        <div class='c-offWhite level-right'>
          <p class='level-item'>Created by {{message.user.name}} on {{format_date message.date_created}}</p>
        </div>
      </div>
      <!-- message -->
      <div class='p-2'>
        <p>
          {{message.description}}
        </p>
      </div>

    </div>
  {{/each}}
</div>