<!-- welcome banner -->
<section class='hero is-small bgc-slate'>
  <div class='has-text-centered hero-body'>
    <p class='c-offWhite title'>Welcome, {{name}}!</p>
  </div>
</section>

<div class='columns is-centered is-multiline'>
  <div class='column is-10 m-5'>
    <p class='c-slate has-text-centered is-size-4 subtitle'>Create a New Blog Post:</p>
    <!-- new message form -->
    <form class='border-dOrange4 box new-message-form-js'>
      <!-- message title -->
      <div class='field'>
        <label class='is-medium label' for='message-name'>Title</label>
        <div class='control'>
          <input class='border-lOrange2 input is-medium' type='text' id='message-name' name='message-name' />
        </div>
      </div>
      <!-- message content -->
      <div class='field'>
        <label class='is-medium label' for='message-desc'>Content</label>
        <div class='control'>
          <textarea class='border-lOrange2 textarea is-medium' id='message-desc' name='message-desc'></textarea>
        </div>
      </div>
      <!-- submit button -->
      <div class='field'>
        <p class='control'>
          <button type='submit' class='bgc-lOrange button has-text-weight-bold'>Create!</button>
        </p>
      </div>
    </form>
  </div>

  <!-- current posts -->
  <!-- current posts appear only if they exist -->
  {{#if messages.length}}
    <div class='columns is-centered is-multiline message-list-js mPh-ml1rem mPh-mr1rem'>
      <p class='c-slate has-text-centered is-size-4 subtitle'>Current Blog Posts:</p>
      {{#each messages as |message|}}
        <div class='border-slate4 box column is-10 mPh-ml1rem mPh-mr1rem'>
          <div class='level'>
            <div class='level-left'>
              <!-- message title -->
              <p class='has-text-weight-bold is-size-4 level-item'><a class='c-dOrange' href='/message/{{message.id}}'>{{message.title}}</a></p>
              <!-- message creation date -->
              <p class='has-text-weight-normal is-size-6 level-item'>created {{format_date message.date_created}}</p>
            </div>
            <!-- update/delete buttons -->
            <div class='level-right'>
              <p class='level-item'><a class='bgc-lSlate button has-text-weight-bold' data-id='{{message.id}}'>UPDATE</a></p>
              <p class='level-item'><a class='bgc-lOrange button has-text-weight-bold' data-id='{{message.id}}'>DELETE</a></p>

            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<!-- snackbar div to temporarily show error message -->
<div id='snackbar'></div>

<script src='./js/profile.js'></script>